*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button{outline: 0;border:none;}
/* Switch开关样式 */
.switch[type='checkbox'].switch {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 28px;
    height: 16px;
    background: #c9cdd4;
    border-radius: 10px;
    transition: border-color .3s, background-color .3s;
    cursor: pointer;
}

.switch[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0, 0, 2px, #999;
    transition: .4s;
    top: 2px;
    position: absolute;
    left: 2px;
}

.switch[type='checkbox'].switch:checked {
    background:#165dff;
}

/* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
.switch[type='checkbox'].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  /* box-shadow: inset 0 0 5px rgba(97, 184, 179, 0.1); */
  background-color: #bfc2c8;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(87, 175, 187, 0.1);
  border-radius: 10px;
  background: #fff;
}
/* button */
.btn{
    width: 82px;
    height: 32px;
    line-height: 32px;
    background: #f2f3f5;
    color: #4e5969;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}
.btn.primary{
    background: #165dff;
    color: #fff;
}
/* 单行文字 */
.rowEllipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* tabs */
.tabs{
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e6eb;
    cursor: pointer;
}
.tabs .tab{
    font-size: 14px;
    color: #4e5969;
    padding: 0 16px;
}
.tabs .tab span{
    display: inline-block;
    height: 39px;
    border-bottom: 2px solid transparent;
}
.tabs .tab.active span{
    color:#165dff;
    border-bottom: 2px solid #165dff;
}
/* 搜索 */
.search{
    width: 180px;
    height: 32px;
    margin: 0 10px;
    border: 1px solid #e5e6eb;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    box-sizing: border-box;
}
.search input{
    width: 85%;
    height: 100%;
    line-height: 32px;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}
.search .iconfont{
    font-size: 12px;
    color: #4E5969;
    cursor: pointer;
    margin-top: -2px;
    line-height: 32px;
}
/* 树结构 */
.tree{
    margin-top: 10px;
}
.tree .treeNode{
    height: 42px;
    cursor: pointer;
}
.tree .treeNode .rowHeight{
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
}
.tree .treeNode .rowHeight .flexName{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}
.tree .treeNode:hover .rowHeight .flexName{
    background: #f2f3f5;
}
.tree .treeNode .leftIcon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tree .treeNode .leftIcon .iconfont{
    font-size: 6px !important;
    color: #4E5969;
    -webkit-text-size-adjust:none;
    display: inline-block;
    transform:rotate(0) scale(.8);
}
.tree .treeNode .leftIcon.active .iconfont{
    transform: rotate(90deg) scale(.8) !important;
    color: #165dff !important;
}
.tree .treeNode .treeName{
    flex: 1;
    margin-left: 8px;
    font-size: 14px;
    color: #4e5969;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tree .treeNode .treeNum{
    color: #aaaaaa;
    font-size: 12px;
    line-height: 42px;
}
.tree .treeNodeChild{
    margin-left: 26px;
}
.tree .treeNodeChild.active .rowHeight{
    background: #f2f3f5;
}
.tree .treeNodeChild:hover .rowHeight{
    background: #f2f3f5;
}
.tree .treeNode .rowHeight .treeName{
    line-height: 28px;
    font-size: 12px;
    margin: 0;
}
.tree .treeNode .rowHeight .treeNum{
    line-height: 28px;
}