.center{
    padding: 24px;
}
.gatewayContainer{
    display: flex;
}
.gatewayContainer .leftWrap{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.gatewayContainer .rightWrap{
    width: 24%;
}
.panelItemWrap{
    width: 49%;
    margin-right: 16px;
}
.panelItemWrap:nth-child(2n){
    margin-right: 0;
}
.panelItemWrap .listWrap{
    height: 300px;
    overflow-y: auto;
}
.panelItemWrap .listWrap .listItem{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e5e6eb;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.panelItemWrap .listWrap .listItem:hover{
    background: #f2f3f5;
}
.panelItemWrap .listWrap .listItem .listItemTitle{
    /* flex: 1; */
    color: #4e5969;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panelItemWrap .listWrap .listItem .listItemTitle.read{
    color: #b8bbcc;
}
.panelItemWrap .listWrap .listItem .listItemTime{
    font-size: 12px;
    color: #b8bbcc;
    margin-left: auto;
}
.panelItemWrap .listWrap .listItem  .textTag{
    margin-left: 20px;
}
.panelItemWrap .tableWrap{
    height: 340px;
}
.tableWrap .num{
    color: #165dff;
}
.tableWrap .num.errorNum{
    color: #f53f3f;
}
.question{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.question .questionBox{
    width: 31.7%;
    height: 136px;
    border: 1px solid #e5e6eb;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.question .questionBox:nth-child(3n){
    margin-right: 0;
}
.question .fake_item{
    flex: 0 0 31%;
    height: 0;
}
/*快捷入口*/
.quick{

}
.quickList{
    display: flex;
    flex-wrap: wrap;
}
.quickList .quickItem{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 24px;
    margin-bottom: 24px;
}
.quickList .quickItem:nth-child(3n){
    margin-right: 0;
}
.quickList .quickItem .box .icon{
    width: 32px;
    height: 32px;
    background: #f2f3f5;
    border-radius: 6px;
    margin: 0 auto;
}
.quickList .quickItem .box .name{
    font-size: 12px;
    color: #4e5969;
    padding-top: 4px;
    text-align: center;
}
/**/
.scheduleList{
    height: 376px;
    overflow-y: auto;
}
.scheduleItem{
    width: 100%;
    height: 78px;
    background: #f2f9fe;
    margin-top: 16px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.scheduleItem .avatar{
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #165dff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.scheduleItem.scheduleItemMeeting{
    background: #fdf1f7;
}
.scheduleItem.scheduleItemMeeting .avatar{
    background: #eb3d85;
}
.scheduleItem .scheduleItemContent{
    flex: 1;
    margin: 0 10px;
}
.scheduleItem .scheduleItemContent .name{
    color: #1d2129;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.scheduleItem .scheduleItemContent .time{
    font-size: 12px;
    color: #4e5969;
    padding: 6px 0;
}
.scheduleItem .scheduleItemContent .tag{
    font-size: 12px;
    color: #4e5969;
}
.scheduleItem .arrow .icon-xiala{
    transform: rotate(-90deg);
    display: inline-block;
}
.oftenLinkBody{
    height: 200px;
    overflow-y: auto;
}
.oftenLinkList{
    display: flex;
    flex-wrap: wrap;
}
.oftenLinkItem{
    width: 48%;
    height: 34px;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 12px;
    color: #4e5969;
    background: #f2f3f5;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.oftenLinkItem:nth-child(2n){
    margin-right: 0;
}
.oftenLinkItem:hover{
    background: rgb(229,230,235);
}
.empty{
    text-align: center;
    cursor: pointer;
}
.empty img{
    width: 106px;
    height: 106px;
}
.empty .emptyDesc{
    font-size: 14px;
    color: #86909c;
    margin-top: 24px;
}