.center {
    margin-top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    background: #f0f2f6;
}
.layoutContent{
    height: 100%;
}
.rightWrapper{
    height: 100%;
    overflow: auto;
    padding: 24px;
    box-sizing: border-box;
    margin-left: 140px;
}
.rightWrapper .layoutContainer{
    width: 100%;
    display: flex;
}
.treeTemplate{
    width: 220px;
    height: 720px;
    background: #fff;
    padding: 21px 10px;
    box-sizing: border-box;
}
.rightWrapper .layoutContainer .guideWrap{
    flex: 1;
    height: 720px;
    padding: 16px 20px;
    background: #fff;
    border-left: 1px solid #dcdcdc;
    box-sizing: border-box;
    position: relative;
}
.rightWrapper .layoutContainer .guideWrap .sanlan{
    position: absolute;
    left: 0;
    top: calc(50% - 56px);
    border: 10px solid transparent;
    border-left: 18px solid #d1d1d1;
    height: 87px;
    width: 0px;
    cursor: pointer;
}
.rightWrapper .layoutContainer .guideWrap .sanlan.active .icon-xiala{
    transform: rotate(270deg);
}
.rightWrapper .layoutContainer .guideWrap .sanlan .icon-xiala{
    position: absolute;
    left: -18px;
    top: 38px;
    transform: rotate(90deg);
    color: #666666;
}
.rightWrapper .footInfo{
    width: 192px;
    margin: 40px auto;
    text-align: center;
    font-size: 12px;
    color: #333333;
    line-height: 2;
}
/* .tabs{
    width: 100%;
    flex: 1;
}
.tabs .tab .tabChild .name{
    margin-left: 2px;
    display: inline-block;
}
.tabs .tab .num.active{
    color: #f53f3f;
} */